PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/skillbridge?retryWrites=true&w=majority
JWT_SECRET=skillbridge_super_secret_jwt_key_2024
NODE_ENV=development
CLIENT_URL=http://localhost:5173
